p {
    text-align:left ;
    width: 800px;
}
img.salo {
    width: 50%;
    height: 600px;
}
img.galushka {
    width: 50%;
    height: 600px;
}
img.cuisine {
    width: 50%;
    height: 600px;
}
img.borsch {
    width: 50%;
    height: 600px;
}
h1 {
    background-color: aquamarine;
    width: 50%;
}
.headpage {
    background-color: burlywood;
}
.recipe_page_color{
    background-color: cyan;
}
.about {
    background-color: rgb(211, 198, 174);
    width: 50%;
}
a {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}