*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
font-size: 18;
line-height: 120%;
color: black;
}

a {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.container {
    min-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__content {
    background-image: url(../images/cuisine.jpg);
}

p {
    text-align: left;
    width: 800px;
}

img.salo {
    width: 50%;
    height: 600px;
}

img.galushka {
    width: 50%;
    height: 600px;
}

img.cuisine {
    width: 50%;
    height: 600px;
}

img.borsch {
    width: 50%;
    height: 600px;
}

.recipe_page_color {
    background-color: cyan;
}

.about {
    background-color: rgb(211, 198, 174);
    width: 50%;
}

