p {
    text-align:left ;
    width: 800px;
}
img.salo {
    width: 700px;
    height: 600px;
}
img.galushka {
    width: 700px;
    height: 600px;
}
img.cuisine {
    width: 700px;
    height: 600px;
}